
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Times New Roman,Arial,sans-serif;
}
/*
	grid
*/
.col-1 {
	width: 8.333333333333333%;
}
.col-2 {
	width: 16.66666666666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
	width: 33.33333333333333%;
}
.col-5 {
	width: 41.66666666666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333333333%;
}
.col-8 {
	width: 66.66666666666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333333333%;
}
.col-11 {
	width: 91.66666666666667%;
}
.col-12 {
	width: 100%;
}
/*==================================================*/
.container.head {
	background-image: url(../img/bc.jpg);
	background-repeat: no-repeat;
}
div.container {
	min-width: 990px;
	margin: 0 auto;
	height: 100px;
	overflow: hidden;
	max-width: 1366px;
}

div[class*=col-]{
	padding:0 20px;

/*	display: inline-block;
*/
	float: left;
}
.col-9 {
	position: relative;
	margin-top: 38px;
}
.col-2 {
	margin-top: 5px;
	margin-left: 80px;
	position: absolute;
}
.logos {
	position: absolute;
}
.header-menu a {
	font-size: 18px;
	text-decoration: none;
	color: #1d0000;
}
.header-menu>li {
	display: inline-block;
	padding-right: 40px;
	font-size: 18px;
}
ul.header-menu {
	text-align: center;
	min-width: 1030px;
}
img.logo {
}
.header-menu a:hover {
	color: #054778;
	padding-bottom: 40px;
	border-bottom: 2px solid #1e6d79;
}
.header-menu a:active {
	color: #3aa8cc;
	padding-bottom: 40px;
	border-bottom: 2px solid #d5d5d6;
}
.header-menu a:active {

	border-bottom: 4px solid #d5d5d6;
}

/*==================< awaken {two} >==================*/
audio {
	width: 360px;
	height: 35px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px; 
	border: 1px solid #99bccc;
}
.container.audio {
    min-height: 718px;
    border: 1px solid #c2dceb;
    background-image: url(../img/oceanw.jpg);
}
audio {
	display: block;
}
.audio-block {
	margin-top: 10px;
}
/*==============<  container catalog {one} >==============*/
.container.catalog {
	height: 718px;
	background: #eef1f6;
	background-image: url(../img/oceanw.jpg);
}
.column {
	margin-top: 40px;
	margin-left: 50px;
	min-height: 290px;
	float: left;
	vertical-align: bottom;
}
.column-2 {
	
}
.column img {
	border-radius: 25px;
}
/*=====================<  what is ..  >=====================*/
.container.what-is {
	height: 718px;
	background: #eef1f6;
}
.movie {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #d9eaf1;
}
video {
	margin-right: 1px;
}
/*====================<  brief-script-i-on  >==============*/
.container.brief-script-i-on {
	height: 718px;
	border: 1px solid red;
	background-image: url(../img/oceanw.jpg);
}
/*=====================<  draft -outline  >=====================*/
.container.draft-outline {
	height: 718px;
	border: 1px solid red;
	background: #eef1f6;
	background-image: url(../img/oceanw.jpg);
}
/*==================<  footer  >=========================*/
.container.footer {
	background-image: url(../img/cd.jpg);
	background-repeat: no-repeat;
}
footer .social>p {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 20px;
}
footer .social span {
	display: inline-block;
	background-color: #d1e8f0;
	width: 30px;
	font-size: 13px;
	font-weight: 800;
	line-height: 30px;
	height: 30px;
	color: #333;
	text-align: center;
}
.copyright>sub {
	padding-left: 40px;
	margin-top: 10px;
}
 .copyright b{
	font-size: 10px;
}
.social {
    text-align: right;
}
div.col-3.social {
	text-align: center;
}
.social span:hover {
	background-color: #a3c1d6;
}
.social span:active {
	background-color: #f4f9fc;
}
