
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Times New Roman,Arial,sans-serif;
    box-sizing: border-box;
}
/*
	grid
*/
.col-1 {
	width: 8.333333333333333%;
}
.col-2 {
	width: 16.66666666666667%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33333333333333%;
}
.col-5 {
	width: 41.66666666666667%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33333333333333%;
}
.col-8 {
	width: 66.66666666666667%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333333333333%;
}
.col-11 {
	width: 91.66666666666667%;
}
.col-12 {
	width: 100%;
}
/*==============================*/

div.container {
	overflow: hidden;
	max-width: 1170px;
	min-width: 990px;
	height: 100px;
	margin: 0 auto;
	background-image: url(../img/fod.jpg);
	background-repeat: repeat-y;
}
.col-9 {
	position: relative;
	margin-top: 35px;
}
.col-2 {
	margin-top: 10px;
	margin-left: 45px;
	position: absolute;
}
.header-menu a {
	font-size: 16px;
	text-decoration: none;
	color: #272523;
}
.header-menu>li {
	display: inline-block;
	padding-right: 50px;
	text-transform: uppercase;
	font-size: 18px;
}
ul.header-menu {
	text-align: center;
	min-width: 1030px;
}
img.logo {
	
}